.App {
  text-align: center;
}

.App-header {
  background-color:white;
  padding: 20px;
  color: #282c34;
}

.value {
  font-size: 2em; /* Adjust the size as needed */
}
.change{
  font-size: 1em; /* Adjust the size as needed */
  color: #67BF6B;
}
.currency {
  font-size: 1em; /* Adjust the size as needed */
  color: #BDBEBF;
  vertical-align: super; /* Moves the text slightly upwards */
}

.App-nav {
  display: flex;
  justify-content: center;
  background-color:white;
  padding: 10px;
}

.App-nav a {
  color: black;
  padding: 10px;
  text-decoration: none;
}

.App-nav a.active {
  font-weight: bold;
}

.chart-container {
  padding: 20px;
}
