.App {
  text-align: center;
  padding-left: 4rem;
}

.App-header {
  background-color:white;
  padding: 20px;
  color: #282c34;
  text-align: left;
}

.value {
  font-size: 2em; /* Adjust the size as needed */
}
.change{
  font-size: 1em; /* Adjust the size as needed */
  color: #67BF6B;
}
.currency {
  font-size: 1em; /* Adjust the size as needed */
  color: #BDBEBF;
  vertical-align: super; /* Moves the text slightly upwards */
}

.App-nav {
  display: flex;
  justify-content: flex-start;
  background-color:white;
  padding: 10px;
}

.App-nav a {
  color: black;
  padding: 10px;
  text-decoration: none;
}

.App-nav a.active {
  font-weight: 500;
  border-bottom: 4px solid rgb(102, 102, 213);
}

.chart-container {
  padding: 20px;
}
.fullScrn-btn{
  cursor: pointer;
  border: none;
  background: none;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 13px;
}


.btn-container{
  display: flex;
}

.days-select{
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.days-btn{
  background: none;
  border: none;
}

.days-btn-span{
  background-color: rgb(102, 102, 213);
  color: white;
  padding: 5px;
  border: none;
  width: 2.8rem;
  border-radius: 5px;
}

